@mixin centre {
  display: flex;
  justify-content: center;
}

body{
  margin-left: 0px;
  margin-right: 0px;
  background-color: rgb(255, 255, 255);
  a{
    color: darkblue;
  }
  
}

header{
  img{
    height: 40px;
    width: 40%;
    margin-left: 30%;
  }
  i{
    width: 20px;
  }
  a{
    display: flex;
    flex-direction: column;
  }
}

.exploration{
  color: #ffffff;
  background: #ff00cc;
  background: -webkit-linear-gradient(to left, #9356DC, #FF79DA);
  background: linear-gradient(to left, #9356DC, #FF79DA);
  font-size: 30px;
  cursor: pointer;
  border-radius: 20px;
  padding: 5px 15px;
}
.exploration:hover{
  opacity: 0.8;
}
.restaurant{
  background-color: #e7e7e7;
  padding-top: 30px;
  padding-bottom: 60px;
 a {
  text-decoration: none;
  color: black;
  }
  h2{
    margin-left: 15px;
  }
}
@keyframes changecolor{
  0%{
    opacity: 0;
  }
  100%{
    background: linear-gradient(45deg, #FF79DA, #9356DC);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    opacity: 1;
  }
}
.carteRestaurant{
  background-color: #ffffff;
  width: 94%;
  margin-left: 3%;
  box-shadow: 4px 3px 4px 3px rgb(211, 211, 211);
  border-radius: 15px;
  margin-bottom: 15px;
   img{
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  i{
    position: relative;
  }
  p{
    margin-top: 5px;
  }
  .affiche{
    padding: 5px 15px;
    .titre{
      display: flex;
      justify-content: space-between;
      margin-top: -10px;
      margin-bottom: -20px;
    }
    .coeur{
      margin-top: 30px;
      margin-right: 10px;
    }
    .heart{
      position: absolute;
      font-size: 20px;
      animation: changecolor 5s forwards;

    }
    .heartGrey{
      background-color: #ffffff;
      color: grey;
      position: relative;
      font-size: 20px;
    }
    .heartGrey:active{
      opacity: 0;
    }
}
}

footer{
  padding: 10px;
  color: #ffffff;
  background-color: rgb(66, 66, 66);
  margin-bottom: 0px;
  li{
    list-style: none;
    margin-top: 10px;
    margin-left: -25px;
  }
  i{
  width: 20px;
  }
  a{
    text-decoration: none;
    color: #ffffff;
  }
}